*{
    margin:0;
    padding:0;
}
header{
    margin-left: 40px;
    
    & ul{
        list-style: none;
    & li{

        & a{
            text-decoration: none;
            color: black;
        }
    
    }
    }
    & ol{
        list-style-type: georgian;
    }
    

}
/*
main{
    background-color: aqua;
}

.box1{
    width: 400;
    height: 400;
    margin-left: 10px;
    background-color: brown;
}*/
main{
    height: 450px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
& .box1{
  width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;  
    border: solid 2px white;
    border-radius: 10px;

/*
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-left: 100px;
    padding-top: 100px;*/

    /* margin: 100px 100px 100px 100px; */
    margin: auto auto auto auto;
    padding-top: 10px;
    text-align: center;
    background-color: brown;

}
& p{
    color: white;
}
}